# deps
node_modules/
.pnp/
.pnp.js

# build
dist/
build/
.react-router/

# env
.env
.env.local
.env.*.local

# turbo
.turbo/

# prisma
packages/database/src/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store